<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>{"timestamp":"%d{ISO8601}","level":"%level","thread":"%thread","logger":"%logger{36}","message":"%replace(%msg){'"', '\''}"}%n</pattern>
    </encoder>
  </appender>
  <!--  Suppress Netty logs  -->
  <logger name="io.netty" level="OFF"/>
  <!--  Set custom logger for your package  -->
  <logger name="Jay" level="DEBUG"/>
  <!--  Root logger  -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>

